<html>
    <head>
        <meta charset = "utf-8">
                    
        <title> HAS - System UI </title>
                    
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
                    
        <link rel="icon" type="image/png" href="static/icon.png" sizes="16x16">
                    
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
		
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<script src="{{url_for('static', filename='scripts.js')}}"></script>

        
    </head>
    
	<body>
        <h1> I AM AN ADMIN! </h1>
		
		<ul>
			<section class="buttonBoxSections">			
				<div class="buttonDiv" id="FlskOff">
					<input type="button" id="flskServOff" value="FLASK SERVER: OFF">
				</div>
            </section>
        </ul>
		
		<ul>	
            <section class="buttonBoxSections">
                <div class="buttonDiv" id="TelOn">
                    <input type="button" id="TelNetServOn" value="TELNET SERVER: ON">
                </div>
                                    
                <div class="buttonDiv" id="TelOff">
                    <input type="button" id="TelNetServOff" value="TELNET SERVER: OFF">
                </div>
            </section>
        </ul>
		
		<ul>
			<section class="buttonBoxSections">
									
				<div class="buttonDivBottom">
					<input type="button" id="btnADMIN" onclick="location.href='http://151.80.140.199:5000/'" value="Back to home">
				</div>
            </section>
        </ul>
    </body>
</html>